@import "compass/css3";

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
}

.form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul.nav.nav-tabs {
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.req {
  color: #ea6c6b;
}

.forgot {
  font-size: 14px;
  margin-top: 20px;
}

.forgot a {
  color: #333;
  text-decoration: none;
}

.text-center {
  text-align: center;
}
